:root {
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.5;
  --green: #00ff00;
  --red: #ff0000;
  --dark: #313131;
  --light: #fff;
  --grey: #adadad;
}

.hide {
  transform: translateY(-100%);
  transition: transform 400ms ease-in-out;
  overflow: hidden;
}

.hide.clicked {
  transform: translateY(0);
  transition: transform 400ms ease-in-out;
}

/*Element styles*/
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

hr {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: VT323, sans-serif;
  color: var(--dark);
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
}

p {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 1rem;
  color: var(--dark);
  margin: 0;
  flex-basis: 100%;
}

span {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: .8rem;
}

button {
  flex-grow: 1;
  border: none;
  outline: none;
  font-family: vt323, 'Share Tech Mono', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4em;
}

input, textarea, label {
  font-family: 'Share Tech Mono', sans-serif;
}

input[type=submit]:hover {
  background-color: var(--dark);
  color: var(--light);
}

input[type=submit] {
  background-color: var(--light);
  color: var(--dark);
}

label.rememberMe {
	color: var(--dark);
	align-self: center;
	flex-grow: 1;
	flex-basis: 70%;
	margin: 10px 0 5px;
	line-height: 1;
}

form input, form textarea {
  flex-basis: 100%;
  margin: .3em;
}

div.rememberWrap {
	display: flex;
	flex-basis: 100%;
	justify-content: flex-start;
}

input.rememberMe {
	align-self: center;
	flex-basis: 10%;
}

input, textarea {
  border: none;
}

button, input, textarea {
  overflow: visible;
  padding: .5em;
  color: var(--green);
  background-color: var(--light);
  color: var(--dark);
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
  outline: none;
}

button:hover, button:focus  {
  background-color: var(--green);
  color: var(--light);
  outline: none
}

/*Header styles*/
header {
  color: var(--green);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  height: 117px;
  transition: transform 200ms ease-in-out;
}

header.mainHeader h1 {
  background-color: var(--dark);
  color: var(--green);
  font-family: vt323, sans-serif;
  font-size: 3.5rem;
  text-align: center;
  flex-basis: 100%;
  margin: 0;
  z-index: 100;
}

header section.userMenu {
  background-color: var(--dark);
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  z-index: 100;
}

header button.loginRegister, section.userMenu button {
  background-color: var(--dark);
  color: var(--green);
  z-index: 100;
}

header button.loginRegister:hover, header button.loginRegister:focus, section.userMenu button:hover, section.userMenu button:focus {
  background-color: var(--green);
  color: var(--dark);
}

section.userSettingsWrapper, section.newPostWrap, section.loginRegisterWrapper {
  background-color: var(--green);
  flex-basis: 100%;
  position: absolute;
  width: 100%;
  top: 117px;
  left: 0;
  padding-bottom: 1em;
}

.settingsHeader, .newPostHeader {
  flex-basis: 100%;
  text-align: center;
}

section.newPostWrap {
  transform: translateY(-632px);
}

input[type=submit] {
  font-family: vt323, 'Share Tech Mono', sans-serif;
}

form h2 {
  color: var(--dark);
  text-align: center;
  margin: .3em 0 0 0;
  font-size: 1.3rem;
  font-weight: normal;
}

/*Post styles*/
.mainContent {
	max-width: 60em;
	margin: 0 auto;
}

.contentBox {
	display: flex;
	flex-wrap: wrap;
}

.authorBox {
	display: none;
	flex-basis: 7em;
	justify-content: center;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 1;
	padding: 1em;
}

.userAvatar {
	height: 100%;
	width: auto;
	display: block;
	border-radius: 50%;
}

.userName {
	margin: .2em 0 0 0;
}

.voteBox {
	flex-basis: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	font-size: 2rem;
	padding: .3em;
}

.voteUp, .voteDown {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 1em;
  min-height: 1em;
}

.voteUp {
	background-image: url('/resources/img/up.png');
  margin-bottom: .5em;
}

.voteDown {
  background-image: url('/resources/img/down.png');
}

.voteUp:hover {
  background-image: url('/resources/img/up_green.png');
}

.voteDown:hover {
  background-image: url('/resources/img/down_red.png');
}

.voteBox, .postContainer, .voteCount {
	margin: .5em 0;
}

h4.voteCount {
	margin: 0;
	font-size: 2rem;
	align-self: center;
	padding: 0 .5em;
}

.postContainer {
	flex-basis: 50%;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-shrink: 1;
  padding-left: 1em;
}

.postTitle {
	font-weight: normal;
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0.1px;
	margin: .5em 0 0 0;
  align-self: flex-end;
  flex-basis: 100%;
}

.postLink {
  color: var(--grey);
  line-height: 1;
}

.button.postEdit, .button.postRemove {
	font-size: 1em;
}

.contentMetaBox {
	flex-basis: 100%;
	background-color: var(--green);
	color: var(--dark);
	padding: .5em 1em;
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}

.contentMetaBox span {
	flex-grow: 1;
	text-align: center;
}

/*Child styles*/
.child {
	margin-left: 1em;
	border-left: 1px dashed var(--grey);
	padding-left: .5em;
	display: flex;
	flex-wrap: wrap;
}

.child .voteBox div {
	min-width: auto;
	min-height: .7em;
}

.child small {
	font-weight: bold;
	flex-basis: 100%;
}

.commentContainer {
	display: flex;
	flex-basis: 100%;
  align-items: center;
}

/*Commenting field styles*/
.callToAction {
	flex-basis: 100%;
	margin-top: .5em;
	font-size: 1em;
	background-color: var(--green);
}

.callToAction:hover {
  background-color: var(--dark);
  color: var(--light);
}

.newCommentWrap {
	flex-basis: 100%;
  background-color: var(--green);
  padding: 1em 0 1em 0;
}

@media screen and (min-width: 568px) {
  .authorBox {
    display: flex;
  }
}
